@using System.Globalization
@using Links
@using Newtonsoft.Json
@model BusinessLogic.Models.Project
@{
    ViewBag.Title = Model.Name + " Overview";
}

<div class="block black-on-white">
    <h2 class="white-on-blue">Overview</h2>
    <div class="block-content">
        <label>
            @if (Model.IsGitRepo)
            {
                <img alt="[git]" src="~/Assets/img/github.png" class="project-icon"/>
            }
            Project
        </label>
        <div>@Model.Name</div>
        @Html.LabelFor(model => model.CreatedAt)
        <div>@Model.CreatedAt.ToString(CultureInfo.CurrentCulture)</div>
        <label>Commits</label>
        <div>@Model.Commits.Count</div>
    </div>
</div>

<div class="canvas-wrapper block black-on-white">
    <canvas height="245" width="800"></canvas>
</div>

@{
    ViewBag.ProjectId = Model.Id;
}
@Html.Partial(MVC.Commit.Views.List, Model.Commits)

@{
    Model.Commits = Model.Commits.OrderBy(c => c.CreatedAt).ToList();
}

@section Scripts{
    <script id="deletethis">
        var projectJson = '@(Html.Raw(JsonConvert.SerializeObject(Model)))';
        var project = JSON.parse(projectJson);
        var commits = project.Commits || [];

        $(document).ready(function () {
            var $canvas = $("canvas");

            var commitDates = commits.selectDistinct(c => functions.dateFromDateTimeString(c.CreatedAt));
            
            var commitsPerDay = [];
            for (var i = 0; i < commitDates.length; i++) {
                var commitsForDate = commits.where(c => functions.dateFromDateTimeString(c.CreatedAt) === commitDates[i]);
                commitsPerDay.push(commitsForDate.length);
            }

            var config = {
                type: 'line',
                data: {
                    labels: commitDates,
                    datasets: [{
                        label: "Number of Commits",
                        backgroundColor: "rgba(25,25,112,1)",
                        borderColor: "rgba(25,25,112,1)",
                        data: commitsPerDay,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Commit Statistics'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number of Commits'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var chart = new Chart($canvas, config);

            $("#deletethis").remove();
        });
    </script>
}
